body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7AB2B2;
}

#container {
    width: 90%;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    background-color: #CDE8E5;
    border-radius: 15px;
    box-shadow: 0 8px 16px hsl(0, 0%, 0%, 0.35);
}

h1, label{
    text-shadow: 0 8px 16px hsl(0, 0%, 0%, 0.35);
}

button {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: hsl(197, 34%, 46%);
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin: 10px 0;
    box-shadow: 0 8px 16px hsl(0, 0%, 0%, 0.35);
}

button:hover {
    background-color: hsl(197, 34%, 52%);
}

button:active {
    background-color: hsl(197, 34%, 60%);
}

input {
    width: 100px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0 8px 16px hsl(0, 0%, 0%, 0.35);
}

#diceresults {
    margin: 20px;
}

#diceimages img{
    width: 100px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 8px 16px hsl(0, 0%, 0%, 0.35);
}


@media (max-width: 600px) {
    #container {
        width: 100%; /* Full width for small screens */
        font-size: 1.5rem; /* Smaller font size for better fit */
    }

    button {
        font-size: 1.2rem; /* Smaller font size for buttons */
        padding: 8px 12px; /* Adjusted padding for buttons */
    }

    input {
        width: 80px; /* Adjusted width for input */
        font-size: 1.2rem; /* Smaller font size for input */
    }

    #diceimages img {
        width: 80px; /* Smaller dice image size */
    }
}